body {
  background: url(./img/game-background.jpg);
}

h1 {
  text-align: center;
  font-style: italic;
  color: #f9f9f9;
  font-size: 5rem;
  text-shadow: 7px 2px 10px #2a7b9b;
}

p {
  text-align: center;
  font-style: italic;
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 7px 2px 10px #120202fc;
  margin: 20px 0;
}

img {
  width: 150px;
  border-radius: 20px;
  box-shadow: 5px 2px 50px #2a7b9b;
}

.dice-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.player-one {
  flex: 1;
  text-align: center;
  color: #01b185;
  font-size: 15px;
}

.player-two {
  flex: 1;
  text-align: center;
  color: #01b185;
  font-size: 15px;
}

.btn {
  width: 100px;
  height: 50px;
  background-color: #ffffff;
  color: #01b185;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
}

#winner {
  margin: 50px 0px 0px 0px;
}
